body {
	background-color: #212121;
	color: #fff;
	font-family: monospace, serif;
	letter-spacing: 0.05em;
}

h1 {
	font-size: 50px;
	text-align: center;
}
h2 {
	margin-left: 2em;
}

.titulo {
	background: #85C98C;
	background: -moz-linear-gradient(top, #85C98C 0%, #07591B 46%, #212121 100%);
	background: -webkit-linear-gradient(top, #85C98C 0%, #07591B 46%, #212121 100%);
	background: linear-gradient(to bottom, #85C98C 0%, #07591B 46%, #212121 100%);
}

.titulo input{
	margin-left: 2em;
	font-size:10px;
        font-family:Verdana,Helvetica;
        font-weight:bold;
        color:white;
        background:#FC9221;
        border:0px;
        width:80px;
        height:19px;
}

p{	
	margin-left: 2em;	
}

table{
	margin-left: 2em;
}

form{
		margin-left: 2em;
}
.cuerpo{
  border: 1px solid #3EC483;
  height: 90%;
  width: 90%;
  padding: 10px;
  margin: 10px;
}

.cuerpo input{
	margin-left: 2em;
	font-size:10px;
        font-family:Verdana,Helvetica;
        font-weight:bold;
        color:white;
        background:#3EC483;
        border:0px;
        width:80px;
        height:19px;
}